:root {
  --primary: #242424;
  --secondary: #108ee9;
  --white: #fff;
  --red: #ff003b;
  --celestial: linear-gradient(90deg, #8278da, #121c84);
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}
